<section class="section-more-about-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 section-1 my-auto">
        <img src="../../../assets/trainers/laurel.jpg" alt="">
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 section-2 my-auto pt-lg-0 pt-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12">
              <ul class="nav nav-pills " id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation"><button class="nav-link active" id="pills-home-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
                    aria-controls="pills-home" aria-selected="false" tabindex="-1"><span class=" fw-bold">Our Story</span></button></li>
                <li class="nav-item" role="presentation"><button class="nav-link" id="pills-profile-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                    aria-controls="pills-profile" aria-selected="false" tabindex="-1"><span class=" fw-bold">Core Values</span> </button></li>
                <li class="nav-item" role="presentation"><button class="nav-link " id="pills-contact-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab"
                    aria-controls="pills-contact" aria-selected="true"><span class="fw-bold">Our Videos</span></button>
                </li>
              </ul>
              <div class="tab-content mt-4" id="pills-tabContent">
                <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                 <p class="fs-5">
                  If you weren’t a high school or college athlete, or you weren’t born into a family who prepared healthy meals, chances are that you feel a little lost in the gym (and the kitchen). Every day we hear similar stories and struggles from our new clients who want to get healthy, but aren’t able to find a program that helps them reach their goals. 
                 </p>
                  <p class="fs-5">
                    At TriFit, we are deeply committed to providing <code>everything</code> our clients need to succeed. Training,
                    nutrition, accountability and support.

                    The “Tri” in TriFit Wellness, originated from the “three planes of motion” and is the philosophy
                    behind our training programs. This functional training approach helps our clients improve their
                    movement patterns, range of motion, function, and even reduce injury.
                  </p>
                  <p class="fs-5">
                    The “Wellness” part of our name encompasses our holistic approach to health. True “wellness”
                    includes so much more than your training at the gym – Indeed it includes moving your body, but also
                    your sleep patterns, nutrition, relationships, mental health and the joy you experience in your
                    life.

                    If you are looking for a welcoming gym family and a place to become strong, healthy and happy, we
                    hope you’ll give us a try – we look forward to meeting you.
                  </p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <p class="fs-5">OUR VALUES - </p>
                  <ol class="fs-5">
                   
                    <li>Positivity – We choose to see the glass half full. </li>
                    <li>Inclusiveness – Everyone belongs in the weight room. </li>
                    <li>Accountability – Do what you say you will do. </li>
                    <li>Humor – Create fun & a little weirdness. </li>
                    <li>Empathy – I see you. </li>
                    <li>Personal Relationships – Give a shit.</li>
                  </ol>
                  <p class="fs-5">OUR MISSION - We commit to deeply caring for each person who walks through our doors. We commit to providing an inclusive, welcoming and motivating sanctuary where everyone belongs. We commit to providing exceptional functional training & holistic nutrition coaching to help our clients live healthy & vibrant lives.</p>
                  <p class="fs-5">OUR VISION - To transform “non-gym people” to fitness enthusiasts for life.</p>
                  
                </div>
                <div class="tab-pane fade " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="container">
                    <div class="row d-flex justify-content-center videos-section">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12"> 
                        <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/UhIExgYGkoM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12"> 
                        <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/bKqBfJOC-Bg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                     
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12"> 
                        <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/6h7P4TP0u14?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12"> 
                        <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/enmg-_WzyoY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                     
                      <div class="pt-3"><a href="https://www.youtube.com/c/TrifitwellnessPhoenixAZ/" target="_blank" class="btn btn-vary1">SEE MORE</a></div>
                     </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>