.section-as-seen-on {
    background: rgb(255, 255, 255);
    padding: 90px 0 70px 0;
    font-family: 'Oswald', sans-serif;
    transform: skewY(361deg);
}
.section-as-seen-on .channel img{
    width: 190px;
}