<app-navbar></app-navbar>
<section class="home">
    <div class="container-fluid overlay-text">
        <div class="row justify-content-center align-items-center" data-scrollax-parent="true" style="height: 793px;">
            <div class="col-sm-12 text-center mt-5 pt-md-5 ">
                <div class="award mb-4">
                    <img src="https://res.cloudinary.com/expertise-com/image/upload/f_auto,fl_lossy,q_auto/w_auto/remote_media/awards/az_phoenix_gyms_2021_transparent.svg" width="250" alt="" srcset="">
               
                </div>
                <h1 class="mb-4">TRIFIT WELLNESS<span>FIND YOUR TRIBE</span></h1>
                <h2 class="subheading">&#8226; THE GYM FOR NON-GYM PEOPLE &#8226;</h2>

            </div>
        </div>
    </div>
</section>
<app-our-trainers></app-our-trainers>
<app-testimonials></app-testimonials>
<app-pricing></app-pricing>
<app-contact-us></app-contact-us>