<section class="section-about-us" id="about-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-auto  text-center">
                <video width="100%"  controls >
                    <source src="../../../assets/video/video-intro.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="py-3"><a href="#contact-us" class="btn btn-vary1 w-60 ">GET A FREE TRAINING SESSION NOW !!</a></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="header-section">
                    <h3 class="title">WELCOME</h3>
                    <h2 class="small-title">TRIFIT WELLNESS SINCE 2005</h2>
                </div>
                <div>
                    <p class="fs-5">TriFit is a boutique fitness studio that was founded in 2005. What makes our studio
                        a staple in the Central Phoenix community for close to two decades? We believe that comes down
                        to three main factors:</p>
                        <ul class="fs-5">
                            <li>Personalized coaching and hands on guidance</li>
                            <li> Comprehensive training and holistic nutrition programs </li>
                            <li>  Welcoming, unpretentious atmosphere & diverse community of people </li>
                        </ul>
                    <p class="fs-5">We commit to deeply caring for each person who walks through our doors. We commit to
                        providing an inclusive, welcoming and motivating sanctuary where everyone belongs. We commit to
                        providing exceptional functional training & holistic nutrition coaching to help our clients live
                        healthy & vibrant lives.</p>
                </div>
            </div>
        </div>

    </div>
</section>