<section class="section-about-us" id="about-us">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-10">
                <div class="header-section">
                    <h3 class="title">TRIFIT WELLNESS SINCE 2005</h3>
                    <h2 class="small-title">“Transforming “non-gym people” into fitness lovers for life.”</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-auto  text-center">
                <video width="100%"  controls  poster="../../../assets/logo/trifit-wellness-logo.png">
                    <source src="../../../assets/video/video-intro.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-auto mx-auto">
                
                <div>
                    <p class="fs-5">Are you?</p>
                        <ul class="fs-5">
                            <li>Intimidated by the typical big box gym or large group class experience?</li>
                            <li>Unsure how to properly do the exercises with good form?</li>
                            <li>Struggling with motivation?</li>
                            <li>Confused about nutrition?</li>
                            <li>Looking for support and accountability? </li>
                        </ul>
                        <div class="py-3"><a href="#contact-us" class="btn btn-vary1 w-60 "><span class="blink">Claim your Black Friday deal NOW !!</span></a></div>
           
                </div>
            </div>
        </div>

    </div>
</section>