<section class="section-offers" id="our-offers">
    <div class="container">
        <!-- Start Header Section -->
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header-section">
                    <h3 class="title">OFFERS</h3>
                    <h2 class="small-title">Personalized programs and hands on guidance</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                TRIFIT WELLNESS TRAINING PROGRAMS
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Small, personalized 30 & 45 minute training sessions</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Hands on coaching, correction and guidance</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Modifications & personalization provided for injuries and all ability levels
                                        </p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Full body progressive workout programs that include strength, conditioning &
                                            cardio</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Creative, fun and never boring workouts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                TRIFIT WELLNESS NUTRITION PLANS
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Personalized, science based, holistic nutrition plans.</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Weekly accountability check-ins with a health coach</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Monthly one-on-one personalized progress check-in with the nutrition coach
                                        </p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Quarterly educational workshops</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Track your progress, muscle gains & fat loss</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="feature-icon">
                                        <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/christmas-star.png"
                                            width="40" alt="" srcset="">
                                    </div>
                                    <div class="feature-caption">
                                        <p>Behavior modification and healthy habits coaching</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row text-center why-choose-us">
            <div class="col-lg-3 col-sm-6">
                <div class="offer-item">
                   <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/dumbbell.png" alt="">
                    <h4>Modern equipment</h4>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="offer-item">
                    <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/vegetarian-food.png" alt="">
                    <h4>Healthy nutrition plan</h4>
                  
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="offer-item">
                    <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/training.png" alt="" srcset="">
                    <h4>Professional training plan</h4>
                  
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="offer-item">
                    <img src="https://img.icons8.com/nolan/344/D9E021/FB872B/heart-with-pulse.png" alt="">
                    <h4>Unique to your needs</h4>
                </div>
            </div>
        </div>
    </div>
</section>