

.section-team {
    background: rgba(184, 180, 180, 0.115);
    color: #5A5A5A;
     padding: 90px 0 70px 0;
    font-family: 'Oswald', sans-serif;
}



.main-title{
    display: block;
   
    text-transform: uppercase;
}


/* 
.overlay{
    position: absolute;
    width: 100%;
    display: block;
} */