
<section class="section-team" id="our-trainers">
    <div class="container">
        <!-- Start Header Section -->
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header-section">
                    <h3 class="small-title">Our Trainer</h3>
                    <h2 class="title">Our experts can help you discover new training techniques.</h2>
                </div>
            </div>
        </div>
        <!-- / End Header Section -->
        <div class="row">
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/trainers/korey.jpg" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">KOREY</h3>
                   </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/trainers/laurel.jpg" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">LAUREL</h3>
                   </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/trainers/steven.jpg" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">STEVEN</h3>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/trainers/monica.jpg" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">MONICA</h3>
                   </div>
                </div>
            </div>
            <!-- / End Single Person -->
        </div>
    </div>
</section>