<section class="section-team" id="our-programs">
    <!-- <div class="overlay">
        <img src="https://shock-html.codings.dev/assets/images/png/shock-bg-2.png" alt="">
    </div> -->
    <div class="container">
        <!-- Start Header Section -->
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-10">
                <div class="header-section">
                    <h3 class="title">Our Program</h3>
                    <h2 class="small-title">Transforming “non-gym people” into fitness lovers for life!"</h2>
                </div>
            </div>
        </div>

                <div class="row ">
                    <div class="col-lg-6 col-md-12 col-12 order-lg-1 order-md-2 order-2 my-auto">
                        <div class="mt-4 mt-md-4 mt-lg-0">
                            <h4 class="fw-bold pt-3 fs-1 main-title">Welcoming Environment</h4>
                            <ul class="fs-4">
                                <li>Supportive and caring staff</li>
                                <li>Inclusive community </li>
                                <li>Positive, fun members </li>
                                <li>Non-intimidating vibe</li>
                                <li>All fitness levels welcome</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 order-lg-2 order-md-1 order-1 my-auto mx-auto"><img
                        
                            src="../../../assets/trainers/welcoming-env.jpg"
                            width="100%" alt=""></div>
                </div>
                <div class="separated my-5"><img
                        src="https://www.reipropertyinvest.in/static/media/line-shape-1.a87f475a418b38091b12c7960e388c16.svg"
                        width="100%" alt=""></div>
                <div class="row gx-lg-5 gx-sm-2">
                    <div class="col-lg-6 col-md-12 col-12 order-lg-2 order-md-2 order-2 my-auto">
                        <div class="mt-4 mt-md-4 mt-lg-0">
                            <h4 class="fw-bold pt-3 fs-1 main-title">Comprehensive Program</h4>
                                <ul class="fs-4">
                                    <li>Progressive fitness programs</li>
                                    <li>Functional exercises</li>
                                    <li>One-on-one nutrition coaching</li>
                                    <li>Health education</li>
                                    <li>Everything you need to reach your goals</li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 order-lg-1 order-md-1 order-1 my-auto mx-auto">
                        <img src="../../../assets/trainers/comprehensive.png" width="100%" alt="">
                    </div>
                    
                </div>
                <div class="separated my-5"><img
                        src="https://www.reipropertyinvest.in/static/media/line-shape-1.a87f475a418b38091b12c7960e388c16.svg"
                        width="100%" alt=""></div>
                <div class="row gx-lg-5 gx-sm-2">
                    <div class="col-lg-5 col-md-12 col-12 order-lg-1 order-md-2 order-2 my-auto">
                        <div class="mt-4 mt-md-4 mt-lg-0">
                            <h4 class="fw-bold pt-3 fs-1 main-title">Personalized for YOU</h4>
                                <ul class="fs-4">
                                    <li>Experienced, certified trainers</li>
                                    <li>Hands on coaching & guidance</li>
                                    <li>Modifications & corrections for injuries and ability</li>
                                    <li>Body composition scanning & results tracking</li>
                                    <li>Weekly accountability and monitoring</li>
                                </ul>
                        </div>
                    </div>
                    <div
                        class="col-lg-7 col-md-12 col-12 order-lg-2 order-md-1 order-1 my-auto mx-auto"><img
                         src="../../../assets/trainers/personalized-for-you.png" width="100%"
                            alt=""></div>
                </div>
            </div>
        </section>