<section class="section-testimonials d-flex align-items-center" id="testimonials">
    <!-- Carousel wrapper -->
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-10">
                <div class="header-section">
                    <h3 class="title">Client Testimonials</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 my-auto mx-auto">
                <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/43xr0kOS7yQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                <div id="carouselExampleControls" class="carousel slide carousel-fade text-center" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text">
                                    <i class="fas fa-quote-left pe-2"></i>
            
                                    <p class="fs-5">
                                        You know how you’re going to start working out “next week”? Do it! Do it NOW at TriFIT
                                        Wellness! Yeah, I can exercise, but there’s nothing better than having the accountability
                                        with the awesome staff at TriFIT.
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">THERESA</h5>
            
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text">
                                    <i class="fas fa-quote-left pe-2"></i>
            
                                    <p class="fs-5">
                                       
                                        Joining TriFIT has been one of the best decisions I’ve made. It’s been truly transformative
                                        for my well being, body and mind. Staff is super friendly, positive and will push you to
                                        exceed expectations and personal goals. I’m part of their unlimited membership program which
                                        includes nutritional consulting. Do yourself and your mind / body a favor and go see Laurel
                                        today….it will be the best decision you make! Couldn’t be happier!”
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">ADAM</h5>
            
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
            
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text">
                                    <i class="fas fa-quote-left pe-2"></i>
            
                                    <p class="fs-5">
                                      
                                        I hadn’t worked out in years and was in horrible shape. In three months, I’ve lost 20 pounds
                                        and look and feel as good as I’ve ever felt. My personal trainer – Steven Cianfarano –
                                        helped me work my way up without overdoing it or injuring myself. He has been outstanding.
                                        Steven and the other trainers are excellent and the facilities are very nice. I highly
                                        recommend Trifit to everyone!
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">JAMES</h5>
            
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
            
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text">
                                    <i class="fas fa-quote-left pe-2"></i>
            
                                    <p class="fs-5">
                                      
                                        With this gym there is a sense of community, accountability, the communication is two way and always encouraged. From Laurel and Steven to the people I’ve been lucky enough to workout with, I’ve had nothing but great experiences.
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">TAM</h5>
            
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
            
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text">
                                    <i class="fas fa-quote-left pe-2"></i>
            
                                    <p class="fs-5">
                                      
                                        This gym is a gem! You get personalized training at an affordable price. Their hours are all day so the classes are available for your timeline. The owner personally calls and meets with you to discuss nutritional needs. Highly recommend.
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">TRINA</h5>
            
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Carousel wrapper -->
</section>