/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
li,a,p {
    /* font-family: 'Spectral', serif; */
    /* font-family: 'Oswald', sans-serif; */
}
.btn {
    border-radius: 30px!important;
    color: #fff!important;
    font-size: 18px!important;
    font-weight: 500!important;
    line-height: 48px!important;
    padding: 0 40px!important;
    text-align: center!important;
    transition: all .3s ease-in-out!important;
  
}

.btn-vary1 {
    background: linear-gradient(to right,#e16521,#ffc30edf);
}
.btn-vary1:hover {
    background: linear-gradient(to right,#e16421d8,#ffc30edf);
}
.btn-vary2 {
   border-color: #fff;
   border-width: 2px;
   background: linear-gradient(to right,#e16521,#ffc30edf);
}
.btn-vary2:hover {
    background: linear-gradient(to right,#e16421d8,#ffc30edf);
}

.header-section {
	margin-bottom: 50px;
}

.header-section .title {
    margin-bottom: 18px;
    font-size: 58px;
    text-transform: uppercase;
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffc20e;
}

.header-section .small-title {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    /* font-family: "Nunito Sans", sans-serif; */
    color: #ffc20e;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 0px 15px;
    text-transform:capitalize;
}